<nav class="red darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tour Of Heroes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/">Dashboard</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/pipes">Pipes</a></li>
        <li><a routerLink="/pipes/30000">Path Variable</a></li>
        <li><a routerLink="/pipes" [queryParams]="{balance: 50000}">Query Param</a></li>
        <li><a routerLink="/sample">Sample Form</a></li>
        <li><a routerLink="/formvalidation">Form Validation Sample</a></li>
      </ul>
    </div>
  </div>
</nav>